{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Title</title>
    <style>
        .container { display: flex; align-items: stretch; justify-content: space-around; padding: 50px 0; }
        .card{
        background-color:#BD9A7A;
        }
    </style>
</head>
<body style="background:url('https://th.bing.com/th/id/OIP.7ySm3zwHqadaAe0_A-nCygHaDY?w=317&h=159&c=7&r=0&o=5&dpr=1.3&pid=1.7')no-repeat;background-size:cover;">
<nav class="navbar navbar-expand-lg navbar" style="background-color:#362419;">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container">
<div class="card" style="max-width:840px;height:350px;">
    <div class="row no-gutters">
    <div class="col-md-4">
        <img src="{{object.image_url}}" class="card-img">
    </div>

<div class="col-md-8">
    <div class="card-body">
        <h4 class="card-title">{{object.title }}</h4>
        <p class="card-text">{{object.description}}</p>
        <p>Price: $ {{ object.price|floatformat:2 }}</p>
<!--        <a href="{{ object.follow_company }}" class="btn btn-info" role="button">Follow Company</a>-->
        <p><p><a href="{% url 'addcart' object.id %}" class="btn btn-outline-success" role="button">Add to cart</a>&nbsp<a href="{% url 'list' %}" class="btn btn-danger" role="button">Cancel Order</a></p>
        <p><a href="{%url 'addfavo' object.id %}" class="btn btn-outline-success" role="button">Add to Wishlist</a>
        {% if object.choco_available is True %}
<a href="{% url 'checkout' object.id %}" class="btn btn-outline-success" role="button">Proceed to Pay</a>
{% else %}
<h4 class="text-danger">Out of Stock...!</h4>
{% endif %}
    </div>
    </div>
    </div>
</div>
</div>
</body>

{% endblock content %}
</html>
